.about {
    position: relative;
    width: 100%;
    height: max-content;
    background-color: #0C0C0D;
    overflow: hidden;
    left: 0;
    text-align: center;
    padding-bottom: 150px;
}

.about_title {
    display: flex;
    text-align: center;
    justify-content: center;
}

.about_title h1 {
    font: 'Roboto Slab', sans-serif; 
    font-weight: bold;
    font-size: 9vmin;
    margin-right: 1vw;
}

.about_title .chargerhacks {
    margin-right: 0px;
    background-image: linear-gradient(
        to right, 
        #ff4b54 20%,
        #f20030 40%, 
        #ff0200 60%, 
        #FF1A48 90%
    );
    background-size: 500% auto;
    background-clip: padding-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    animation: movingGradient 5s ease-in-out infinite alternate;
}

.about_p {
    margin-top: -1vmin;
    font-size: 3vmin;
    margin-left: 10vw;
    margin-right: 10vw;
}


.about_cards {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.about_cards .n-card {
    width: 25vw;
    margin-right: 5vw;
    margin-left: 5vw;
    background-color: #17171A;
    border-radius: 20px;
    color: white;
}

.about_cards .n-card:hover {
    border-color: #ff4b54;    
}

.about_cards .n-card h1 {
    font: 'Roboto Slab', sans-serif; 
    font-weight: normal;
    margin-top: 3px;
    margin-bottom: 0px;
}

.about_cards .n-card p {
    font: 'Roboto Slab', sans-serif; 
    font-weight: normal;
    font-size: 1.8vmin;
}

.material-symbols-outlined {
    transform: scale(2);
}

.n-card .card_divider {
    width: auto;
}

@media only screen and (max-width: 1000px) {
    .about_cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .about_cards .n-card {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 70px;
        width: 60vw;
    }
}

@keyframes movingGradient {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}
