.not_found_div {
    width: 100%;
    text-align: center;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100%;
    pointer-events: none;
}

.not_found_text {
    font-size: 8vmin;
}

.goto_button {
    pointer-events: all;
    background-color: transparent;
    border-color: #E6002E;
    border-radius: 20px;
    color: white;
    padding: 30px;
    padding-left: 7vw;
    padding-right: 7vw;
    transition: 0.3s all ease-in-out;
    font-size: x-large;
    margin-right: 30px;
    margin-left: 30px;
}

.goto_button:hover {
    background-color: #E6002E;
}