@font-face { 
    font-family: 'Roboto Slab'; 
    src: url('/fonts/RobotoSlab-VariableFont_wght.ttf'); 
    font-weight: bolder; 
} 

html { 
    background-color: #0C0C0D; 
    color: #FFFFFF; 
    font: 'Roboto Slab', sans-serif; 
    width: 100%;
    height: 100%;
}

.landing_background {
    left: 0;
    overflow: hidden;
    z-index: 0;
    position: fixed;
}
