.sponsors {
    position: relative;
    width: 100%;
    height: max-content;
    background-color: transparent;
    left: 0;
    text-align: center;
    pointer-events: none;
}

.sponsors_title {
    margin-top: 0px;
    font: 'Roboto Slab', sans-serif; 
    font-weight: bold;
    font-size: 8vmin;
}

.sponsors_div {
    margin-left: 25vw;
    margin-right: 25vw;   
    pointer-events: all; 
}

.sponsors_request_div {
    font-size: larger;
    text-align: center;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 55vh;
}

.sponsors_request a {
    text-decoration: none;
    color: #E6002E;
    pointer-events: all;
}

.sponsors_request a:hover {
    text-decoration: underline;
}